/* Logo */
img.logoimage,
.wmd-button {
	/* -webkit-filter: invert(100%) brightness(50%); */
	-webkit-filter: invert(100%) hue-rotate(180deg) brightness(50%) !important;
}

/* Backgrounds */
body, 
#top, 
#searchBar, 
#wrapper,
#room, 
#CARight, 

.tabBar,
.tabsA,
#wmd-button-bar,
#wmd-button-row,
#previewer,
.spacer3,
#ground {
	background-color: #2A211C !important;
	background-image: none !important;
}
.boxC,
#subscription_box, 
#sidebar-upper, 
#sidebar-lower
{
	background-color: #1B1009 !important;
}

/* Normal text */
#top,
.score,
#top a,
.options label,
#question-table,
.headQuestions,
.answer,
.accepted-answer,
.headNormal,
#CARight,
.short-summary,
.userinfo,
.questions-count,
.questions-count>span {
	color: #BDAE9D !important;
}


.accepted-answer,
.comment,
.comment-text>p {
	color: #BDAE9D !important;
	background-color: #2A211C !important;
}


/* Other links */
.userinfo a {
	color: #007A60 !important;
}

/* Announcements */
#announcement div {
	background-color: #1B1009 !important;
	color: #BDAE9D;
	border: 1px solid #007A60 !important;
}

/* Input boxes */
.searchInput,
#editor,
#interestingTagInput {
	background-color: #1F1A18 !important;
	color: #BDAE9D !important;
}

/* Buttons/tabs */
.submit {
	background-color: #007A60;
	border: 1px solid black;
	color: yellow;
}
.add-comment-link,
a.sidebar_button,
.searchBtn
{
	background-color: #007A60 !important;
	border: 1px solid black;
	color: white !important;
}
.add-comment-link:hover,
a.sidebar_button:hover {
	background-color: #004F3E !important;
}


/* Tags */
.tags a,
.tabsA a,
a.page,
.this_page,
.next>a,
.page>a,
.curr {
	background-color: #1F1A18 !important;
	border: 1px solid black !important;
	color: #BDAE9D;
}
.tags a:hover,
.tabsA a:hover,
a.on:hover,
a.page:hover,
.next>a:hover {
	background-color: #004F3E !important;
}
a.on {
	background-color: #1B1009 !important;
}
span.page {
	background-color: #1F1A18 !important;
	border: none !important;
	padding: 0px !important;
}
.page>a {
	padding: .25em;
}

/* Top nav bar */
#nav a {
	background-color: #1F1A18;
	border: 1px solid black !important;
	color: #BDAE9D;
}
#nav a:hover {
	background-color: #004F3E !important;
}

/* Homepage/question list */
#listA {
	background-color: #2A211C !important;
}
.votes, .views, .answered, .unanswered {
	background-color: #1B1009;
	color: #BDAE9D !important;
	border: 1px solid black !important;
	width: 45px !important;
}